div {
  width: 600px;
  background-color: rgb(244 245 222);
  padding-bottom: 10px;
}
h1 {
  text-align: center;
  color: #fd793b;
}
.imgDiv {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  padding-left: 115px;
}
