<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Hello WOrld~~~~</h1>
    <button id="hello" value="헬로" onclick="btn(this.value)">헬로</button>
    <button id="study" value="스터디" onclick="btn(this.value)">스터디</button>
    <button id="bye" value="바이" onclick="btn(this.value)">바이</button>
    <div id="msg"></div>

    <script>
        const socket = io();
        function btn(e){
            socket.emit('gogo', e, (res)=>{
                console.log(res)
                document.querySelector('#msg').textContent = res;
            })
        }
    </script>
</body>
</html>