<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    userid : <input type="text" id="userid">
    name : <input type="text" id="nickname">
    pw : <input type="text" id="pw">
</body>
</html>