<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>
<body>
    <h1> 로그인 </h1>
    <form name="signin-form" method="POST">
        아이디 : <input type="text" id="userid"><br/>
        비밀번호 : <input type="password" id="pw"><br/>
        <button type="button" onclick="signin()">로그인하기</button>
    </form>
    <form action="/profile" name= "formsubmit" method="post" hidden>
        <input type="text" id="id" value="">
        <input type="text" id="userid" value="">
        <input type="text" id="name" value="">
        <input type="text" id="pw" value="">
    </form>

    <script>
        async function signin() {
            const form = document.forms['signin-form']
            const form2 = document.forms['formsubmit']
            const res = await axios({
                method : 'POST',
                url : '/signin',
                data : {
                    userid : form.userid.value,
                    pw : form.pw.value,
                }
            })
            console.log("로그인 결과", res)
            console.log("??????//", res.data.result)
            if(res.data.result){
                console.log(res.data)
                alert('로그인에 성공하셨습니다.')
                // document.getElementById('id').value = res.data.data[0].id
                // form2.userid.value = res.data.data[0].id
                // form2.name.value = res.data.data[0].name
                // form2.pw.value = res.data.data[0].pw
                // window.location.href ='/profile'
                // form2.submit();
            }else{ 
                alert('로그인에 실패하였습니다.')
                window.location.href='/signin'
            }
        }
    </script>
</body>
</html>