<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>
<body>
    <h1>회원추가하기</h1>
    아이디 : <input type="text" id="userid"><br/>
    이름 : <input type="text" id="name"><br/>
    비밀번호 : <input type="password" id="pw"><br/>
    <button type="button" onclick="add()">추가하기</button>


    <h2>회원정보</h2>
    <table border = "1">
        <th>번호</th>
        <th>아이디</th>
        <th>이름</th>
        <%for(let i=0; i<data.length ; i++){ %>
        <%let id = JSON.stringify(data[i].id)%>
        <%let userid = JSON.stringify(data[i].userid)%>
        <%let name = JSON.stringify(data[i].name)%>
        <tr>
            <td><%= id%></td>
            <td><%= userid.replaceAll("\"","")%></td>  
            <td><%= name.replaceAll("\"","") %></td>
        </tr>
        <% num = id %>
        <%}%>
    </table>
    <script>
        let table = document.querySelector('table')
        async function add(){
            const res = await axios({
                method : 'POST',
                url : '/useradd',
                data : {
                    userid : document.getElementById('userid').value,
                    name : document.getElementById('name').value,
                    pw : document.getElementById('pw').value,
                }
            })
            const resadd = await axios({
                method:'POST',
                url : '/useradd2',
                data:{
                    id : res.data.id
                }
            })
            console.log("들어있는거", resadd.data[0].id)
            const {id, userid, name, pw} = resadd.data[0]
            let tr = document.createElement('tr')
            let id_td = document.createElement('td')
            let userid_td = document.createElement('td')
            let name_td = document.createElement('td')
            id_td.innerText = id;
            userid_td.innerText = userid;
            name_td.innerText = name;
            tr.appendChild(id_td)
            tr.appendChild(userid_td)
            tr.appendChild(name_td)
            table.appendChild(tr)
        }

    </script>
</body>
</html>