<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>동적form 전송</title>
</head>
<body>
    <form onsubmit="fileupload(event)">
        <input type="file" id="dynamic" multiple><br/>
        <input type="text" id="title"><br/>
        <button type="submit">업로드</button>
    </form>
    <br/>
    <div class="result"></div>
    <script>
        const resultBox = document.querySelector('.result');
        async function fileupload(event){
            event.preventDefault();

            const title = document.querySelector('#title').value
            const file = document.querySelector('#dynamic');
            const formData = new FormData()
            formData.append('title', title)

            for(i=0; i<file.files.length ; i++){
                formData.append('dynamic', file.files[i])   //얘 이름은 index.js에 upload.array이름이랑 같아야됨
            }
            console.log('폼데이터', formData)
            const result = await axios({
                method : 'POST',
                url : '/dynamic',
                data : formData,
                Headers:{
                    'content-Type' : 'multipart/form-data',
                },
            });
            console.log("보낸결과값", result)
            console.log("경로?", result.data[0].path)
            for(i=0 ; i<result.data.length ; i++){
                //  resultBox.innerHTML += `<img src = ${result.data[i].path}><br/>`;
                const img = document.createElement('img')
                img.src = result.data[i].path
                img.style.width = '500px';
                resultBox.appendChild(img)
            }
        }
    </script>
</body>
</html>