<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>세션 회원가입 및 로그인</h1>
    <button type="button"><a href="/signup">회원가입</a></button>

    <%if(user_id){ %>
        <%=name%>님 환영합니다.
        <button type="button"><a href="/logout">로그아웃</a></button>
    <%}else{ %>
        <button type="button"><a href="/signin">로그인</a></button>
  <%  }%>
</body>
</html>